{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/base.css' %}">
</head>

<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="{%static 'pto/2.jpg' %}">
            </div>
            <div>
                <ul>
                    <li class="activeh"><a href="http://127.0.0.1:8000">Home</a></li>
                    <li class="actives"><a href="/services/">Services</a></li>
                    <li class="activeg"><a href="/gallery/">Gallery</a></li>
                    <li class="activea"><a href="/about/">About</a></li>
                    <li class="activec"><a href="/contact/">Contact</a></li>
                </ul>
            </div>
                {% block content %}

                {% endblock %}
        </div>
    </header>
</body>

</html>